[Unit]
Description=Taichi
Documentation=https://app.kookoo.top
After=network.target
Wants=network.target

[Service]
WorkingDirectory=/usr/taichi
ExecStart=/usr/taichi/TAICHI_OS
Restart=on-abnormal
RestartSec=5s
KillMode=mixed

StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target