{% extends "navbar.html" %}
{% block title %}
    Universe OS
{% endblock %}
{% block navbar_brand %}
    Docker管理
{% endblock %}
{% block content %}
    <style>
        /* 公共样式 */
        .card {
            border-radius: 15px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
            margin-bottom: 20px;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
        /* 添加样式以确保表格适应页面宽度 */
        .card.table-responsive {
            overflow-x: auto;
            margin: 20px;
            border: 0;
            padding: 0;

        }

        .table {
            width: auto;
            max-width: 100%; /* 表格的最大宽度为页面宽度 */
            margin-bottom: 0; /* 可以适当调整这个值，根据实际需要 */
        }

        /* 以下样式可根据需要进行调整 */
        .table th,
        .table td {
            white-space: nowrap; /* 防止文本换行 */
        }
    </style>

    <div class="card table-responsive">
        <table id="containersTable" class="table table-striped table-hover text-center striped">
        <thead>
        <tr>
            <th class="text-nowrap">名称</th>
            <th class="text-nowrap">镜像</th>
            <th class="text-nowrap">命令</th>
            <th class="text-nowrap">容器端口</th>
            <th class="text-nowrap">主机端口</th>
            <th class="text-nowrap">容器路径</th>
            <th class="text-nowrap">主机路径</th>
            <th class="text-nowrap">运行时间</th>
            <th class="text-nowrap">状态</th>
            <th class="text-nowrap">CPU</th>
            <th class="text-nowrap">RAM</th>
            <th class="text-nowrap">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

    <div class="card table-responsive">
        <table id="imagesTable" class="table table-striped table-hover text-center striped">
        <thead>
        <tr>
            <th class="text-nowrap">镜像名称</th>
            <th class="text-nowrap">TAG</th>
            <th class="text-nowrap">镜像ID</th>
            <th class="text-nowrap">镜像大小</th>
            <th class="text-nowrap">操作</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
    <script src="{{ url_for('static', filename='js/public/jquery.min.js') }}"></script>
    <script>
        var refreshIntervalId;

        $(document).ready(function () {
            loadContainers();
            refreshIntervalId = setInterval(loadContainers, 5000);  // 每5秒刷新一次
        });

        function loadContainers() {
            $.get("/api/containers", function (data) {
                if (data.code === 200) {
                    var rows = "";
                    data.data.forEach(function (container) {
                        var name = container.Name.substring(1);  // 去掉名称前面的"/"
                        var row = "<tr>";
                        row += "<td>" + name + "</td>";
                        row += "<td>" + container.Config.Image + "</td>";
                        row += "<td>" + (container.Config.Cmd ? container.Config.Cmd.join(' ') : '无命令') + "</td>";
                        var portMappings = formatPortMappings(container);  // 更改了这里
                        row += "<td>" + portMappings.containerPort + "</td>";
                        row += "<td>" + portMappings.hostPort + "</td>";
                        var volumeMappings = formatVolumeMappings(container.HostConfig.Binds);  // 新增的列
                        if (volumeMappings !== "") {
                            row += "<td>" + volumeMappings.containerPath + "</td>";
                            row += "<td>" + volumeMappings.hostPath + "</td>";
                        }
                        var startTime = new Date(container.State.StartedAt);
                        var now = new Date();
                        var runningTime = Math.floor((now - startTime) / 1000 / 60);  // 运行时间，单位为分钟
                        row += "<td>" + runningTime + "分钟</td>";
                        row += "<td>" + container.State.Status + "</td>";
                        row += "<td>" + container.HostConfig.CpuShares + "</td>";
                        row += "<td>" + container.HostConfig.Memory + "</td>";
                        if (container.State.Status === "running") {
                            row += "<td>";
                            row += "<div class='button-group'>";
                            row += "<button class='btn btn-custom btn-sm m-1' onclick='stopContainer(\"" + name + "\")'>停止</button>";
                            row += "<button class='btn btn-custom btn-sm m-1' onclick='forceStopContainer(\"" + name + "\")'>强制停止</button>";
                            row += "<button class='btn btn-custom btn-sm m-1' onclick='stopAndDeleteContainer(\"" + name + "\")'>停止并删除</button>";
                            row += "<button class='btn btn-custom btn-sm m-1' onclick='restartContainer(\"" + name + "\")'>重启</button>";
                            row += "</div>";
                            row += "</td>";
                        } else {
                            row += "<td>";
                            row += "<div class='button-group'>";
                            row += "<button class='btn btn-custom btn-sm m-1' onclick='startContainer(\"" + name + "\")'>启动</button>";
                            row += "<button class='btn btn-custom btn-sm m-1' onclick='deleteContainer(\"" + name + "\")'>删除</button>";
                            row += "</div>";
                            row += "</td>";
                        }
                        rows += row;
                    });
                    $("#containersTable tbody").html(rows);
                }
            });
        }

        function formatVolumeMappings(binds) {
            if (!binds || binds.length === 0) {
                return {containerPath: "无映射", hostPath: "无映射"};
            }
            var result = {containerPath: "", hostPath: ""};
            for (var i = 0; i < binds.length; i++) {
                var parts = binds[i].split(":");
                var hostPath = parts[0];
                var containerPath = parts[1];

                result.containerPath += containerPath;
                result.hostPath += hostPath;
            }
            return result;
        }

        function formatPortMappings(container) {
            if (container.HostConfig && container.HostConfig.NetworkMode === "host") {
                return {containerPort: "Host网络", hostPort: "Host网络"};
            } else if (container.HostConfig.NetworkMode.startsWith("macvlan")) {
                return {containerPort: "Macvlan网络", hostPort: "Macvlan网络"};
            } else if (!container.HostConfig.PortBindings || Object.keys(container.HostConfig.PortBindings).length === 0) {
                return {containerPort: "无映射", hostPort: "无映射"};
            }
            var result = {containerPort: "", hostPort: ""};
            for (var key in container.HostConfig.PortBindings) {
                var containerPort = key;
                var hostPort = container.HostConfig.PortBindings[key][0].HostPort;
                result.containerPort += containerPort;
                result.hostPort += hostPort;
            }
            return result;
        }


        function stopContainer(name) {
            clearInterval(refreshIntervalId);  // 停止自动刷新
            var button = $("button[onclick='stopContainer(\"" + name + "\")']");
            button.text('停止中...');  // 更改按钮文本

            $.post("/api/containers/" + name + "/stop", function (data) {
                if (data.code === 200) {
                    loadContainers();
                }
                button.text('停止');  // 将按钮文本更改回来
                refreshIntervalId = setInterval(loadContainers, 5000);  // 重新开始自动刷新
            });
        }

        function deleteContainer(name) {
            clearInterval(refreshIntervalId);  // 停止自动刷新
            var button = $("button[onclick='deleteContainer(\"" + name + "\")']");
            button.text('删除中...');  // 更改按钮文本

            $.ajax({
                url: "/api/containers/" + name + "/delete",
                type: 'DELETE',
                success: function (data) {
                    if (data.code === 200) {
                        loadContainers();
                    }
                    button.text('删除');  // 将按钮文本更改回来
                    refreshIntervalId = setInterval(loadContainers, 5000);  // 重新开始自动刷新
                }
            });
        }

        function restartContainer(name) {
            clearInterval(refreshIntervalId);  // 停止自动刷新
            var button = $("button[onclick='restartContainer(\"" + name + "\")']");
            button.text('重启中...');  // 更改按钮文本

            $.post("/api/containers/" + name + "/restart", function (data) {
                if (data.code === 200) {
                    loadContainers();
                }
                button.text('重启');  // 将按钮文本更改回来
                refreshIntervalId = setInterval(loadContainers, 5000);  // 重新开始自动刷新
            });
        }

        function forceStopContainer(name) {
            clearInterval(refreshIntervalId);
            var button = $("button[onclick='forceStopContainer(\"" + name + "\")']");
            button.text('进行中...');
            $.post("/api/containers/" + name + "/force_stop", function (data) {
                if (data.code === 200) {
                    loadContainers();
                }
                button.text('强制停止');
                refreshIntervalId = setInterval(loadContainers, 5000);
            });
        }

        function startContainer(name) {
            clearInterval(refreshIntervalId);
            var button = $("button[onclick='startContainer(\"" + name + "\")']");
            button.text('启动中...');

            $.post("/api/containers/" + name + "/start", function (data) {
                if (data.code === 200) {
                    loadContainers();
                }
                button.text('启动');
                refreshIntervalId = setInterval(loadContainers, 5000);
            });
        }

        function stopAndDeleteContainer(name) {
            clearInterval(refreshIntervalId);
            var button = $("button[onclick='stopAndDeleteContainer(\"" + name + "\")']");
            button.text('进行中...');

            $.ajax({
                url: "/api/containers/" + name + "/stop_and_delete",
                type: 'DELETE',
                success: function (data) {
                    if (data.code === 200) {
                        loadContainers();
                    }
                    button.text('停止并删除');
                    refreshIntervalId = setInterval(loadContainers, 5000);
                }
            });
        }
        $(document).ready(function () {
            loadImages();
            setInterval(loadImages, 10000);  // 每10秒刷新一次
        });
    
        function loadImages() {
            $.get("/api/images", function (data) {
                if (data.code === 200) {
                    var rows = "";
                    data.data.forEach(function (image) {
                        var row = "<tr>";
                        row += "<td>" + image.RepoTags[0].split(":")[0] + "</td>";
                        row += "<td>" + image.RepoTags[0].split(":")[1] + "</td>";
                        row += "<td>" + image.Id.split(":")[1].substring(0, 12) + "</td>";
                        row += "<td>" + (image.Size / 1000000).toFixed(2) + "MB</td>";
                        row += "<td>";
                        row += "<button class='btn btn-custom btn-sm m-1' onclick='deleteImage(\"" + image.Id + "\")'>删除</button>";
                        row += "</td>";
                        rows += row;
                    });
                    $("#imagesTable tbody").html(rows);
                }
            });
        }
    
        function deleteImage(id) {
            $.ajax({
                url: "/api/images/" + id + "/delete",
                type: 'DELETE',
                success: function (data) {
                    if (data.code === 200) {
                        loadImages();
                    }
                }
            });
        }
    </script>
{% endblock %}