<!DOCTYPE html>
<html lang="zh"
      style="height: 100%; background: url('{{ url_for('static', filename='img/bg.jpg') }}') no-repeat center center fixed; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='img/favicon.png') }}" rel="icon">
    <link href="{{ url_for('static', filename='css/public/bootstrap/icons/font/bootstrap-icons.min.css') }}"
          rel="stylesheet">
    <link href="{{ url_for('static', filename='css/public/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/personal/navbar.css') }}" rel="stylesheet">
    <title>{% block title %}{% endblock %}</title>
</head>
<!-- Navbar -->
<nav class="navbar navbar-light bg-light fixed-top" style="margin-top: 0;">
    <div class="container-fluid">
        <a class="navbar-brand d-none d-lg-block" href="#">
            {% block navbar_brand %}{% endblock %}
        </a>
        {% block navbar_plus %}{% endblock %}
        <div class="d-flex justify-content-end">
            <!-- 主页图标链接 -->
            <a class="nav-link" href="/">
                <i class="bi bi-house-door"></i>
            </a>
            <!-- 应用图标链接 -->
            <a class="nav-link" href="/install">
                <i class="bi bi-bag"></i>
            </a>

            <!-- 仪表台图标链接 -->
            <a class="nav-link" href="/monitor">
                <i class="bi bi-arrow-down-up"></i>
            </a>
            <a class="nav-link" href="/containers">
                <i class="bi bi-boxes"></i>
            </a>
            <!-- 文件夹图标链接 -->
            <a class="nav-link" href="/files">
                <i class="bi bi-folder"></i>
            </a>
            <!-- Shell图标链接 -->
            <a class="nav-link" href="/webssh/">
                <i class="bi bi-terminal"></i>
            </a>
            <a class="nav-link" href="/logout">
                <i class="bi bi-box-arrow-right"></i>
            </a>
        </div>
    </div>
</nav>
<!-- Navbar End -->
<body>

{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='js/public/bootstrap/bootstrap.bundle.min.js') }}"></script>
</body>
</html>